# Variables

In [1]:
A = "Apple"
b = "Pinneapple"
print(A,b)

Apple Pinneapple

Note: Never use Keywords , Special Characters as variable names.

## Excercise - Variables

In [1]:
#Create a variable called break and assign it a value 5. See what happens and find out the reason behind the behavior that you see.


break = 5
break

SyntaxError: invalid syntax (3431819271.py, line 4)

# Reason for the above error is because "Break" is a keyword and keyword can't be used as an variable name.

In [2]:
#Create two variables. One to store your birth year and another one to store current year. Now calculate your age using these two variables
curr_yr = 2023
birth_yr = 1998
age = curr_yr - birth_yr
age

25

In [6]:
#Store your first, middle and last name in three different variables and then print your full name using these variables
first_name = 'Samoyed' 
mid_name =  'kash'
last_name = 'Dale'
full_name = first_name+" "+mid_name+" "+last_name
full_name

'Samoyed kash Dale'

#Answer which of these are invalid variable names: _nation 1record record1 record_one record-one record^one continue

#Answer : Continue is the invalid variable name as it one of the keyword in python which is used to end the current iteration and continue with the next loop or conditions.

# Numbers in Python

In [84]:
#Simple Calculator Program
def calc():
    while True:
        print("Select Operations to perform:\n 1. Add \n 2. Subtract \n 3. Divide \n 4. Multiplication")
        loop = input("Select Operations or Hit enter to Exit: ")
        
        if not loop:
            print("Exit")
            break
        elif loop == "1":
            n1 = int(input("Enter Num 1: "))
            n2 = int(input("Enter Num 2: "))
            print(n1+n2)
        elif loop == "2":
            n1 = int(input("Enter Num 1: "))
            n2 = int(input("Enter Num 2: "))
            print(n1-n2)
        elif loop == "3":
            n1 = int(input("Enter Num 1: "))
            n2 = int(input("Enter Num 2: "))
            print(n1/n2)
        else:
            n1 = int(input("Enter Num 1: "))
            n2 = int(input("Enter Num 2: "))
            print(n1*n2)

In [85]:
calc()

Select Operations to perform:
 1. Add
 2. Subtract
 3. Divide
 4. Multiplication
Select Operations or Hit enter to Exit: 4
Enter Num 1: 20
Enter Num 2: 20
400
Select Operations to perform:
 1. Add
 2. Subtract
 3. Divide
 4. Multiplication
Select Operations or Hit enter to Exit: 1
Enter Num 1: 1
Enter Num 2: 1
2
Select Operations to perform:
 1. Add
 2. Subtract
 3. Divide
 4. Multiplication
Select Operations or Hit enter to Exit: 2
Enter Num 1: 20
Enter Num 2: 22
-2
Select Operations to perform:
 1. Add
 2. Subtract
 3. Divide
 4. Multiplication
Select Operations or Hit enter to Exit:
Exit

## Exercise : Numbers in python

In [8]:
# You have a football field that is 92 meter long and 48.8 meter wide. Find out total area using python and print it.

length = 92
width = 48.8
area = length*width
round(area,2)

4489.6

In [10]:
# You bought 9 packets of potato chips from a store. Each packet costs 1.49 dollar and you gave shopkeeper 20 dollar. Find out using python, how many dollars is the shopkeeper going to give you back?

chips = 9
cost_chips = 1.49
cash_out = 20

remainder = cash_out - (chips * cost_chips)

remainder

6.59

In [11]:
# You want to replace tiles in your bathroom which is exactly square and 5.5 feet is its length. If tiles cost 500 rs per square feet, how much will be the total cost to replace all tiles. Calculate and print the cost using python (Hint: Use power operator ** to find area of a square)

length=5.5
area=length**2 # area of square is length power 2
cost=area*500
print("total cost for bathroom tiles replacement:",cost)

total cost for bathroom tiles replacement: 15125.0

In [22]:
# Print binary representation of number 17

N = 17
print("Binary Num of 17 is",format(N,'b'))

Binary Num of 17 is 10001

# Strings

In [29]:
text = "Ice Cream"
text

'Ice Cream'

In [39]:
#Understanding String's Index 
for k,v in enumerate(text):
    
    print(v,k)
print("Or access char like this :",text[1])

I 0
c 1
e 2
  3
C 4
r 5
e 6
a 7
m 8
Or access char like this : c

In [40]:
# To get "Ice" char from whole text
text[0:3]

'Ice'

In [42]:
#End Char
print(text[4:9])
print(text[4:])

# Starting Char
print(text[:3])

Cream
Cream
Ice

## Excercise : Strings

In [12]:
#Create 3 variables to store street, city and country, now create address variable to store entire address. Use two ways of creating this variable, one using + operator and the other using f-string. Now Print the address in such a way that the street, city and country prints in a separate line


street = 'Parkland'
city = "Mumbai"
country = 'India'
full_addr = street+"\n"+city+"\n"+country
print("Using + Operator:",full_addr)
print(f'\nUsing f_String: {street}\n{city}\n{country}')

Using + Operator: Parkland
Mumbai
India

Using f_String: Parkland
Mumbai
India

In [31]:
"""
Create a variable to store the string "Earth revolves around the sun"

    Print "revolves" using slice operator
    Print "sun" using negative index


"""

sentence = "Earth revolves around the sun"
for k,v in enumerate(sentence):
    print(v,"=",k,end=' ')
    
print("\n",sentence[6:14])
print(sentence[-3:])

E = 0 a = 1 r = 2 t = 3 h = 4   = 5 r = 6 e = 7 v = 8 o = 9 l = 10 v = 11 e = 12 s = 13   = 14 a = 15 r = 16 o = 17 u = 18 n = 19 d = 20   = 21 t = 22 h = 23 e = 24   = 25 s = 26 u = 27 n = 28
 revolves
sun

In [32]:
"""
Create two variables to store how many fruits and vegetables you eat in a day. 
Now Print "I eat x veggies and y fruits daily" where x and y presents vegetables and fruits that you eat everyday. 
Use python f string for this.

"""
veggies = 10
fruits = 2
print(f'I eat {veggies} veggies and {fruits} fruits daily.')

I eat 10 veggies and 2 fruits daily.

In [33]:
"""
I have a string variable called s='maine 200 banana khaye'. 
This of course is a wrong statement, the correct statement is 'maine 10 samosa khaye'. 
Replace incorrect words in original strong with new ones and print the new string. 
Also try to do this in one line.

"""
s = 'maine 200 banana khaye'
print(s)
s = s.replace('banana','samosa').replace('200','10')
print(s)

maine 200 banana khaye
maine 10 samosa khaye

# Lists

In [61]:
#List Starts with 0 index
lst = []
for i in ('bread','jam','Peanut butter'):
    lst.append(i)

In [62]:
lst

['bread', 'jam', 'Peanut butter']

In [63]:
print(lst[0])
print(lst[1])
print(lst[2])
print(lst[-1])

bread
jam
Peanut butter
Peanut butter

In [64]:
lst[0]= "Chips"
lst

['Chips', 'jam', 'Peanut butter']

In [65]:
lst.append("Butter")
lst

['Chips', 'jam', 'Peanut butter', 'Butter']

In [66]:
lst.insert(1,"Choco")
lst

['Chips', 'Choco', 'jam', 'Peanut butter', 'Butter']

In [70]:
#Lookup in list
"Choco" in lst

True

In [69]:
lst2 = ["Soap"]
lst+lst2

['Chips', 'Choco', 'jam', 'Peanut butter', 'Butter', 'Soap']

## Exercise : List

In [60]:
"""
Let us say your expense for every month are listed below,
        January - 2200
        February - 2350
        March - 2600
        April - 2130
        May - 2190

Create a list to store these monthly expenses and using that find out,

1. In Feb, how many dollars you spent extra compare to January?
2. Find out your total expense in first quarter (first three months) of the year.
3. Find out if you spent exactly 2000 dollars in any month
4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
5. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this


"""
expense = [2200,2350,2600,2130,2190]
print("1. {}".format(expense[1]-expense[0]))
total = 0
for i in range(3):
    total += expense[i] 
print("2. {}".format(total))
print("3. Did I spend 2000$ in any month:",2000 in expense)
expense.append(1980)
print("4. June Month expense: ",expense[-1])
expense[3] = expense[3]-200
print("5. April Expense update: ",expense[3])

1. 150
2. 7150
3. Did I spend 2000$ in any month: False
4. June Month expense:  1980
5. April Expense update:  1930

In [76]:
"""

You have a list of your favourite marvel super heros.

heros=['spider man','thor','hulk','iron man','captain america']

Using this find out,

1. Length of the list
2. Add 'black panther' at the end of this list
3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'
4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.
5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)


"""

heros=['spider man','thor','hulk','iron man','captain america']
print("1. Length of list : ",len(heros))

heros.append('black panther')
print("2. Updated item in current list: ",heros[-1])

heros.remove('black panther')
heros.insert(3,'black panther')
print("3.",heros[3])

heros[1:3] = ['doctor strange']
print("4.",heros)

heros.sort()
print("5.",heros)

1. Length of list :  5
2. Updated item in current list:  black panther
3. black panther
4. ['spider man', 'doctor strange', 'black panther', 'iron man', 'captain america']
5. ['black panther', 'captain america', 'doctor strange', 'iron man', 'spider man']

# Conditional Statements

In [74]:
#Write a program to check if the number is even or odd

while True:
    try :
        Num = int(input("Enter Num: "))  
        if Num %2==0:
            print("{} is even number".format(Num))
        else:
            print("{} is odd number".format(Num))
    except:
        break

Enter Num: 2
2 is even number
Enter Num: 3
3 is odd number
Enter Num: 1
1 is odd number
Enter Num: 4
4 is even number
Enter Num:

In [87]:
# Check input dish name category
Indian = ['Dal','Paneer Masala','Khichdi']
Chinese = ['Fried Rice','Manchurian']
Italian = ['Pasta','Pizza']

while True:
    dish = input("Enter Dish :")
    if dish in Indian:
        print("Indian")
    elif dish in Chinese:
        print("Chinese")
    elif dish in Italian:
        print("Italian")
    else:
        
        break

Enter Dish :Dal
Indian
Enter Dish :

## Excerise : If Statement

In [80]:
"""
Using following list of cities per country,

india = ["mumbai", "banglore", "chennai", "delhi"]
pakistan = ["lahore","karachi","islamabad"]
bangladesh = ["dhaka", "khulna", "rangpur"]

Write a program that asks user to enter a city name and it should tell which country the city belongs to
Write a program that asks user to enter two cities and it tells you if they both are in same country or not. 
    For example if I enter mumbai and chennai, it will print "Both cities are in India" 
    but if I enter mumbai and dhaka it should print "They don't belong to same country"


"""
india = ["mumbai", "banglore", "chennai", "delhi"]
pakistan = ["lahore","karachi","islamabad"]
bangladesh = ["dhaka", "khulna", "rangpur"]


while True:
    user = input("Enter City name : ")
    if user in india:
        print("India")

    elif user in pakistan:
        print("Pakistan")

    elif user in bangladesh:
        print("Bangladesh")

    else:
        print("Please enter correct city name")
        break

Enter City name : mumbai
India
Enter City name : karachi
Pakistan
Enter City name : rangpur
Bangladesh
Enter City name : vashi
Please enter correct city name

In [84]:
while True:
    user1 = input("Enter City 1 name : ")
    user2 = input("Enter City 2 name : ")
    if user1 in india and user2 in india:
        print("Both cities are in India")

    elif user1 in pakistan and user2 in pakistan:
        print("Both cities are in Pakistan")

    elif user1 in bangladesh and user2 in bangladesh:
        print("Both cities are in Bangladesh")

    else:
        print("They are not in same Country")
        break

Enter City 1 name : mumbai
Enter City 2 name : delhi
Both cities are in India
Enter City 1 name : delhi
Enter City 2 name : karachi
They are not in same Country

In [87]:
"""
Write a python program that can tell you if your sugar is normal or not. 
Normal fasting level sugar range is 80 to 100.
    Ask user to enter his fasting sugar level
    If it is below 80 to 100 range then print that sugar is low
    If it is above 100 then print that it is high otherwise print that it is normal



"""
while True:
    user = int(input("Enter your sugar level :"))
    if (user<80):
        print("Sugar is Low")

    elif (user>100):
        print("Sugar is High")

    else:
        print("Normal")
        break

Enter your sugar level :79
Sugar is Low
Enter your sugar level :101
Sugar is High
Enter your sugar level :81
Normal

# For Loop

In [99]:
#Store Monthly expenses in the list and get total expenses.
lst = []
total_exp = 0
for i in (2000,3000,4000,4321,2590):
    lst.append(i)
print(lst)
for k,v in enumerate(lst):
    total_exp += lst[k]
print("Total Expenses : ",total_exp)

[2000, 3000, 4000, 4321, 2590]
Total Expenses :  15911

In [103]:
#print 1 to 10 range:

for i in range(1,10+1):
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10

In [111]:
# Another way of getting total expenses
total_exp = 0
for i in range(len(lst)):
    print("Month : ",i+1,"Expenses : ",lst[i])
    total_exp += lst[i]
print("\n Total Expenses : ",total_exp)

Month :  1 Expenses :  2000
Month :  2 Expenses :  3000
Month :  3 Expenses :  4000
Month :  4 Expenses :  4321
Month :  5 Expenses :  2590

 Total Expenses :  15911

In [115]:
#Search for key and break when found in the location.

key = 'Chair'
location = ['Sofa','Closet','Desk','Chair','Kitchen','Room']
for i in location:
    if i==key:
        print("key found in location : {}".format(i))
        break
    else:
        print("Key not found in location : {}".format(i))

Key not found in location : Sofa
Key not found in location : Closet
Key not found in location : Desk
key found in location : Chair

In [119]:
#Print Square of numbers 1 to 5 except even Numbers.

for i in range(1,6):
    if i%2!= 0:
        print(i,"=",i**2)

1 = 1
3 = 9
5 = 25

In [120]:
for i in range(1,6):
    if i%2== 0:
        continue
    print(i,"=",i**2)

1 = 1
3 = 9
5 = 25

In [124]:
i = 0
while i<=5:
    print(i)
    i = i+1

0
1
2
3
4
5

## Exercise : For Loop

In [89]:
"""

After flipping a coin 10 times you got this result,

result = ["heads","tails","tails","heads","tails","heads","heads","tails","tails","tails"]

Using for loop figure out how many times you got heads

"""
result = ["heads","tails","tails","heads","tails","heads","heads","tails","tails","tails"]
count = 0
for i in result:
    if i=='heads':
        count+=1
print(count)

4

In [91]:
#Print square of all numbers between 1 to 10 except even numbers

for i in range(1,10+1):
    if i%2==0:
        continue
    print(i,"=",i**2)

1 = 1
3 = 9
5 = 25
7 = 49
9 = 81

In [153]:

"""
Your monthly expense list (from Jan to May) looks like this,

expense_list = [2340, 2500, 2100, 3100, 2980]

Write a program that asks you to enter an expense amount and program should tell you in which month that expense occurred. 
If expense is not found then it should print that as well.

"""

expense_list = [2340, 2500, 2100, 3100, 2980]
month = ['Jan','Feb','Mar','Apr','May']
user = int(input("Enter expense: "))
e = -1
for k,v in enumerate(expense_list):    
    if user==v:
        e = k
        break
        
if e!=-1:
    print(month[e])

else:
    print("Expense is not present in the list")

Enter expense: 1234
Expense is not present in the list

In [133]:
#Dhaval's Code
month_list = ["January", "February", "March", "April", "May"]
expense_list = [2340, 2500, 2100, 3100, 2980]
e = input("Enter expense amount: ")
e = int(e)

month = -1
for i in range(len(expense_list)):
    if e == expense_list[i]:
        month = i
        break

if month != -1:
    print(f'You spent {e} in {month_list[month]}')
else:
    print(f'You didn\'t spend {e} in any month')

Enter expense amount: 2100
You spent 2100 in March

In [136]:
"""
Lets say you are running a 5 km race. Write a program that,

    Upon completing each 1 km asks you "are you tired?"
    If you reply "yes" then it should break and print "you didn't finish the race"
    If you reply "no" then it should continue and ask "are you tired" on every km
    If you finish all 5 km then it should print congratulations message

"""

for i in range(5):
    print(f'You ran {i+1} miles today')
    user = input("Are you tired?")
    if user == "yes":
        print("Take rest")
        break
if i == 4:
    print("Marathon over")
else:
    print(f'current miles status {i+1}')

You ran 1 miles today
Are you tired?no
You ran 2 miles today
Are you tired?no
You ran 3 miles today
Are you tired?no
You ran 4 miles today
Are you tired?mo
You ran 5 miles today
Are you tired?no
Marathon over

In [140]:
""" Write a program that prints following shape
*
**
***
****
*****

"""
n = int(input("Enter num: "))
for i in range(n):
    s = ''
    for j in range(i+1):
        s = s+"*"
    print(s)

Enter num: 4
*
**
***
****

# Dictionary

Note : Dictionary stores in key-value pairs
        It is also known as Hashtables, Maps, Associate Arrays

In [2]:
d = {"tom":123,"Sam":456,"Dave":789,'test':120}
d

{'tom': 123, 'Sam': 456, 'Dave': 789, 'test': 120}

In [3]:
d['tom']

123

In [4]:
d['Sam']=1001
d

{'tom': 123, 'Sam': 1001, 'Dave': 789, 'test': 120}

In [5]:
del d['test']
d

{'tom': 123, 'Sam': 1001, 'Dave': 789}

In [6]:
for key in d:
    print("Key",key,"value",d[key])

Key tom value 123
Key Sam value 1001
Key Dave value 789

{'tom': 123, 'Sam': 1001, 'Dave': 789}

In [9]:
for k,v in d.items():
    print(k,v)

tom 123
Sam 1001
Dave 789

In [170]:
"tom" in d

True

In [172]:
d.clear()
d

{}

# Tuples

Note: Tuples are values that are grouped together
    
    Difference between List and Tuples
    
    List is Homogenous because all values has similar meaning
    Tuples is Heterogenous because all values have different meaning

In [173]:
t = (1,2,3)
t

(1, 2, 3)

In [174]:
t[0]

1

In [175]:
t[1]

2

## Exercise : Dictionary and Tuples

In [28]:
"""
We have following information on countries and their population (population is in crores),
Country 	Population
China 	143
India 	136
USA 	32
Pakistan 	21

Using above create a dictionary of countries and its population
Write a program that asks user for three type of inputs,
print: if user enter print then it should print all countries with their population in this format,

china==>143
india==>136
usa==>32
pakistan==>21

add: if user input add then it should further ask for a country name to add. 
If country already exist in our dataset then it should print that it exist and do nothing. 
If it doesn't then it asks for population and add that new country/population in our dictionary and print it

remove: when user inputs remove it should ask for a country to remove. 
If country exist in our dictionary then remove it and print new dictionary using format shown above in (a). 
Else print that country doesn't exist!

query: on this again ask user for which country he or she wants to query. 
When user inputs that country it will print population of that country.



"""
d1 = {"China":143,"India":136,"USA":32,"Pakistan":21}
while True:
    user = input("Enter your Choice: \n 1. Print\n 2. Add \n 3. Remove \n 4. query \n")
    if not user:
        print("Exit")
        break
    else:
        for k in list(d1):             #k,v in d1.items():
            if user == '1':
                print(k,"==>",d1[k])

            elif user == '2':
                u2 = input("which country to add : ")
                if u2 in d1:
                    print("The country exists in the dictionary")
                    break
                else:
                    u3 = int(input("Enter population : "))
                    d1.update({u2:u3})
                    print(d1)
                    break
            elif user == '3':
                u4 = input("Which Country to remove :")
                if u4 in d1:
                    del d1[u4]
                    print("Updated Dictionary :",d1.keys(),"==>",d1.values())      #,k,"==>",d1[k])
                    break
                else:
                    print("The country doesn't exist in the dictionary")
                    break
            elif user == "4":
                u5 = input("On which country you want to query :")
                print(f"Population of {u5} is {d1[u5]} ")
                break
            else:
                break

Enter your Choice:
 1. Print
 2. Add
 3. Remove
 4. query
1
China ==> 143
India ==> 136
USA ==> 32
Pakistan ==> 21
Enter your Choice:
 1. Print
 2. Add
 3. Remove
 4. query
2
which country to add : Thailand
Enter population : 450
{'China': 143, 'India': 136, 'USA': 32, 'Pakistan': 21, 'Thailand': 450}
Enter your Choice:
 1. Print
 2. Add
 3. Remove
 4. query
1
China ==> 143
India ==> 136
USA ==> 32
Pakistan ==> 21
Thailand ==> 450
Enter your Choice:
 1. Print
 2. Add
 3. Remove
 4. query
3
Which Country to remove :Pakistan
Updated Dictionary : dict_keys(['China', 'India', 'USA', 'Thailand']) ==> dict_values([143, 136, 32, 450])
Enter your Choice:
 1. Print
 2. Add
 3. Remove
 4. query
4
On which country you want to query :India
Population of India is 136
Enter your Choice:
 1. Print
 2. Add
 3. Remove
 4. query

Exit

In [36]:
"""
You are given following list of stocks and their prices in last 3 days,
Stock 	Prices
info 	[600,630,620]
ril 	[1430,1490,1567]
mtl 	[234,180,160]
Write a program that asks user for operation. Value of operations could be,
        print: When user enters print it should print following,

        info ==> [600, 630, 620] ==> avg:  616.67
        ril ==> [1430, 1490, 1567] ==> avg:  1495.67
        mtl ==> [234, 180, 160] ==> avg:  191.33

add: When user enters 'add', it asks for stock ticker and price. 
If stock already exist in your list (like info, ril etc) then it will append the price to the list. 
Otherwise it will create new entry in your dictionary. 
For example entering 'tata' and 560 will add tata ==> [560] to the dictionary of stocks.

"""
d2 = {"Info":[600,630,620],
     "Ril":[1430,1490,1567],
     "Mtl":[234,180,160]}
while True:
    u1 = input("Enter Operation to perform : \n 1. Print \n 2. Add ")
    if not u1:
        print("Exit")
        break
    else:    
        for k in list (d2):
            if u1 == "1":
                avg = sum(d2[k])/len(d2[k])
                print(k,"==>",d2[k],"==> avg:",round(avg,2))
            elif u1 == "2":
                u2 = input("Stock ticker: ")
                u3 = int(input("Enter price: "))
                if u2 in d2:             
                    d2[u2].append(u3)
                    print(d2)
                    break
                else:
                    d2.update({u2:[u3]})
                    print(d2)
                    break

Enter Operation to perform :
 1. Print
 2. Add 1
Info ==> [600, 630, 620] ==> avg: 616.67
Ril ==> [1430, 1490, 1567] ==> avg: 1495.67
Mtl ==> [234, 180, 160] ==> avg: 191.33
Enter Operation to perform :
 1. Print
 2. Add 2
Stock ticker: Info
Enter price: 300
{'Info': [600, 630, 620, 300], 'Ril': [1430, 1490, 1567], 'Mtl': [234, 180, 160]}
Enter Operation to perform :
 1. Print
 2. Add 2
Stock ticker: blah
Enter price: 200
{'Info': [600, 630, 620, 300], 'Ril': [1430, 1490, 1567], 'Mtl': [234, 180, 160], 'blah': [200]}
Enter Operation to perform :
 1. Print
 2. Add
Exit

In [47]:
"""
Write circle_calc() function that takes radius of a circle as an input from user and then it calculates and returns area, 
circumference and diameter. You should get these values in your main program by calling circle_calc function and then print them

"""
import math
def circle_calc():
    r = int(input("Enter Radius of circle:"))
    circumference = 2*math.pi*r
    diameter = 2*r
    area = math.pi*(r**2)
    print("Area of Circle : ",round(area,2),"\nCircumference of Circle: ",round(circumference,2),"\nDiameter of Circle: ",diameter)
circle_calc()

Enter Radius of circle:3
Area of Circle :  28.27
Circumference of Circle:  18.85
Diameter of Circle:  6

In [48]:
#Dhaval's Code

import math

def circle_calc(radius):
    area=math.pi*(radius**2)
    circumference=2*math.pi*radius
    diameter=2*radius
    return area, circumference,diameter

if __name__=="__main__":
    r=input("Enter a radius:")
    r=float(r)
    area, c, d = circle_calc(r)
    print(f"area {area}, circumference {c}, diameter {d}")

Enter a radius:3
area 28.274333882308138, circumference 18.84955592153876, diameter 6.0

# Functions

In [127]:
lst1 = [100,200,300,400]
lst2 = [500,600,700,800]

def cal_lst(lst):
    total = 0
    for i in lst:
        total = total+i
    return total

print(cal_lst(lst1))
print(cal_lst(lst2))

1000
2600

In [128]:
#Sum
def add(a,b):
    c = a+b
    return c
print(add(1,2)) # Positional Arguments

3

Note : Two types of Arguments in Functions:
1. Positional Arguments
2. Named Arguments

In [129]:
def add(a,b):
    c = a+b
    return c
print(add(b = 1,a = 2)) #Named Arguments example

3

In [132]:
def add(a,b = 5): #Default Argument Example
    """
    This Function take 2 args and return the sum of 2 number
    this is documentation string example
    """
    c = a+b
    return c
print(add(1))

6

## Excercise : Functions

In [137]:
#Write a function called calculate_area that takes base and height as an input and returns and area of a triangle. Equation of an area of a triangle is,
#area = (1/2)*base*height

def calculate_area():
    base = input("Enter Base :")
    height = input("Enter Height : ")
    Area = (1/2)*int(base)*int(height)
    return "Area of Triangle : ",Area

calculate_area()

Enter Base :20
Enter Height : 12

('Area of Triangle : ', 120.0)

In [151]:
#Modify above function to take third parameter shape type. It can be either "triangle" or "rectangle". Based on shape type it will calculate area. Equation of rectangle's area is,
#rectangle area=length*width

def calculate_area(shape = 3):
    shape = input("Enter Shape 3 or 4:")
    if shape == "3": 
        base = input("Enter Base :")
        height = input("Enter Height : ")
        Area = (1/2)*int(base)*int(height)
        return "Area of Triangle : ",Area
    elif shape == "4":
        length = input("Enter Length :")
        width = input("Enter width : ")
        Area = int(length)*int(width)
        return "Area of Rectangle : ",Area
    else:
        print("Enter correct shape")

calculate_area()

Enter Shape 3 or 4:
Enter correct shape

In [147]:
#Write a function called print_pattern that takes integer number as an argument and prints following pattern if input number is 3,
def print_pattern():
    pattern = int(input("Enter Number :"))
    for i in range(pattern):
        s = ''
        for j in range(i+1):
            s = s+ "*"
        print(s)

In [148]:
print_pattern()

Enter Number :4
*
**
***
****